<div id="articles">
	{{#each article_data}}
		<div>
			<img src="{{this.image}}">
		</div>
		<div id ={{@index}}>
			<p id = {{this.id}}>
				{{this.title}}
				{{this.link}}
			</p>
		</div>
	{{/each}}
</div>
      <div id="notes"></div>